@model AdvertisementAppUserCreateModel

<form asp-controller="Advertisement" asp-action="Send" method="post">
    <input type="text" asp-for="@Model.AdvertisementId" />
    <div class="mb-3">
       
    </div>
</form>